.movie-card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.similarity-score {
    color: #1f77b4;
    font-weight: bold;
}

.genre-tag {
    background-color: #eb2828;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 2px;
    display: inline-block;
}
